.class1{
    max-width:200px;
    float:left;
    background-color: blue;
}
.class2{
    max-width:200px;
    float:right;
    background-color: blue;
}
.class3{
    margin:auto;
    background-color: grey;
}
.input_class{
    width:340px;
}
.room_class{
    width:400px;
    height:400px;
    background-color: lightblue;
}