.class1{
    max-width:200px;
    float:left;
    background-color: lightgreen;
    margin:10px;
    height:30px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
.class2{
    max-width:200px;
    float:right;
    background-color: lightgreen;
    margin:10px;
    height:30px;
    padding-top:10px;;
    padding-left:10px;
    padding-right:10px;
}
.class3{
    margin:auto;
    background-color: grey;
}
.input_class{
    width:340px;
}
.room_class{
    width:400px;
    height:400px;
    background-color: lightblue;
    margin:auto;
    overflow:scroll;
    display:block;
}
.room_class::-webkit-scrollbar{
    display:none;
}
.room2{
    background-color: lightblue;
    width:400px;
    margin:auto;
}
.room_p{
    text-align:center;
    border:2px solid black;
}
.room_buble{
    text-align:center;
    margin-top:50px;
}
